@theme {
  --color-background: #f8f8f8;
  --color-card: #ffffff;
  --color-foreground: #222222;
  --color-cardForeground: #7b7b7b;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}
