@theme {
  --color-background: #f8f8f8;
  --color-card: #ffffff;
  --color-foreground: #222222;
  --color-cardForeground: #7b7b7b;
}

.container {
  width: 1280px;
  margin: 0 auto;
}

html {
  scroll-behavior: smooth;
}

@keyframes leftRight {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.animate-left-right {
  animation: leftRight 1s infinite;
}
