@import "tailwindcss";

.container {
  width: 1280px;
  margin: 0 auto;
}

@theme {
  --color-background: #f8f8f8;
  --color-primary: #222222;
  --color-secondary: #7b7b7b;
  --color-white: #fff;
  --color-chosenBackground: #f3f3f3;
  --breakpoint-xs-max: 639;
}

@custom-variant --portrait-tablet (@media (min-width: 320px) and (max-width: 639px)) {
  .bg-coloor {
    background-color: "f4g4f4";
  }
}

body {
  background-color: #f3f3f3;
}
